.jumbotron {
  background-color: #969696;
}
.jumbotron h1 {
    font-size: 35px;
    text-align: center;
  }
h2 {
  color: #00b3b4;
  text-align: center;
}
.panel {
  color: #00b3b4;
  display: block;
}
.panel-title {
  color: #00b3b4;
}
p {
  color: #00b3b4;
}
span {
  color: #FF0000;
  cursor: grabbing;
}
h3 {
  color: #00b3b4;
  text-align: center;
}
h4 {
  color: #00b3b4;
}
form {
  display: none;
}
span:hover {
 cursor: pointer;
}
#success {
  display: none;
  text-align: center;
}
#refresh {
  display: none;
  margin: auto;
}
